---
import siteConfig from "@/constants/site.json";
import NotFound from "@/components/not-found";
import Page from "@/layouts/page.astro";
const title = `Not Found | ${siteConfig.name}`;
---

<Page title={title}>
  <main id="main-content" role="main">
    <NotFound />
  </main>
</Page>
