---
import AboutHero from "@/components/about/hero";
import AboutTeam from "@/components/about/team";
import AboutFocus from "@/components/about/focus";
import siteConfig from "@/constants/site.json";
import Page from "@/layouts/page.astro";
const title = `About | ${siteConfig.name}`;
---

<Page title={title}>
  <main id="main-content" role="main">
    <AboutHero client:load />
    <AboutFocus client:load />
    <AboutTeam client:load />
  </main>
</Page>
