---
import DonateHero from "@/components/donate/hero";
import siteConfig from "@/constants/site.json";
import FAQSection from "@/components/faqs";
import Page from "@/layouts/page.astro";
const title = `Donate | ${siteConfig.name}`;
---

<Page title={title}>
  <main id="main-content" role="main">
    <DonateHero client:load />
    <FAQSection client:load limit={4} showAllLink={true} />
  </main>
</Page>
