---
import FAQSection from "@/components/faqs";
import siteConfig from "@/constants/site.json";
import Page from "@/layouts/page.astro";
import faqs from "@/constants/faqs.json";
const title = `FAQs | ${siteConfig.name}`;
const schema = {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  url: Astro.url.href,
  name: title,
  description: siteConfig.description,
  mainEntity: faqs.map((faq) => ({
    "@type": "Question",
    name: faq.question,
    acceptedAnswer: {
      "@type": "Answer",
      text: faq.answer,
    },
  })),
};
---

<Page title={title} schema={schema}>
  <main id="main-content" role="main">
    <FAQSection client:load />
  </main>
</Page>
