---
import FAQSection from "@/components/faqs";
import siteConfig from "@/constants/site.json";
import Page from "@/layouts/page.astro";
const title = `FAQs | ${siteConfig.name}`;
---

<Page title={title}>
  <main id="main-content" role="main">
    <FAQSection client:load />
  </main>
</Page>
