---
import ImpactHero from "@/components/impact/hero";
import ImpactEvents from "@/components/impact/events";
import { ImageViewer } from "@/components/image-viewer";
import siteConfig from "@/constants/site.json";
import Page from "@/layouts/page.astro";
const title = `Impact | ${siteConfig.name}`;
const schema = {
  "@context": "https://schema.org",
  "@type": "WebPage",
  name: title,
  description: siteConfig.description,
  url: Astro.url.href,
};
---

<Page title={title} schema={schema}>
  <main id="main-content" role="main">
    <ImpactHero client:load />
    <ImpactEvents client:load />
    <ImageViewer client:load />
  </main>
</Page>
